
            <h1 class="o">Formas de Pagamento</h1>
<form id="addpag">
    <div class="form-group" >
      <label for="exampleInputPassword1">Forma de Pagamento:</label>
      <input type="text" class="form-control" name="descri" placeholder="Forma de Pagamento">

              </div>

              <div class="row">
                <div class="col-6 col-md-2">
                  <button class="btn btn-add btn-primary btn-lg salvar-pag">Salvar</button>
                </div>
                <div class="col-6 col-md-2">
                  <button class="btn btn-can  btn-primary btn-lg cancelpag">Cancelar</button>
                </div>
              </div>
              
</form>
<script src="pagamento/controller/addpag.js"></script>
<script src="js/functioncancel.js"></script>
  