<div class="row">
  <div class="col-3"></div>

  <div class="col-6">
        <h1 >Cadastro de Veículo</h1>
     
      <form id="addVeiculo">
             <div class="form-group">  
  <div class="row">
          <div class="col-6 col-md-6">
         <label class="my-1 mr-2" >Marca</label>
         <select class="custom-select my-1 mr-sm-2" id="marca" name="marca">
           <option selected>Escolher</option>
           <option value="Fiat">Fiat</option>
           <option value="Volkswagen">Volkswagen</option>
           <option value="Toyota">Toyota</option>
           <option value="Ford">Ford</option>
           <option value="Nissan">Nissan</option>
           <option value="Honda">Honda</option>
           <option value="Hyundai">Hyundai</option>
           <option value="Chevrolet">Chevrolet</option>
         </select>
       </div> 
       <div class=" col-6 col-md-6">
          <label>Modelo</label>
          <input type="text" class="form-control" id="modelo"  placeholder="Modelo" name="modelo">
       </div>
</div>
       <div class="row">
          <div class="col-6 col-md-6">
           <label>Ano do Carro</label>
          <input type="text" class="form-control" id="ano"  placeholder="Ano do Carro" name="ano">
         </div>
         <div class="col-6 col-md-6">
            <label class="my-1 mr-2" >Tipo Combustível</label>
            <select class="custom-select my-1 mr-sm-2" id="tipo" name="tipo">
                <option selected>Escolher</option>
                <option value="Gasolina">Gasolina</option>
                <option value="Etanol">Etanol</option>
                <option value="Flex">Flex</option>
            </select>
            </div>
       </div>
    
       <div class="row">
       
         <div class="col-6 col-md-6">
       
             <label>Tipo de Motor</label>
             <input type="text" class="form-control" id="motor"  placeholder="Tipo de Motor" name="motor">
         </div>
         <div class="col-6 col-md-6">
            <label class="my-1 mr-2" >Cliente</label>
            <select class="custom-select cliselect my-1 mr-sm-2" id="escolhercliente" name="escolhercliente">
                <option name="nomecli" value="">Escolher Cliente</option>
              
            </select>
          </div>
         </div>
         <div class="row">
         <div class="col-6 col-md-6">
          <label>Placa</label>
          <input type="text" class="form-control" id="placa"  placeholder="Placa" name="placa">
         </div>
        
       
       </div>
             
       
       <div class="row">
        <div class="col-6 col-md-2">
          <button class="btn btn-add btn-primary btn-lg salvar-veiculo">Salvar</button>
        </div>
        <div class="col-6 col-md-2">
          <button class="btn btn-can  btn-primary btn-lg cancelveiculo ">Cancelar</button>
        </div>
      </div>
     </form>
    </div>
    </div>
      
  <script src="veiculo/controller/addVeiculo.js"></script>
  <script src="js/mask.js"></script>
  <script src="veiculo/controller/select_cli.js"></script>
  <script src="js/functioncancel.js"></script>
 
