
        <div class="row">
            <div class="col-md-10">
                <h1>Veículos</h1>
            </div>
            <div class="col-md-2">
                    <button type="button" class="btn btn-cad btn-primary novo-veiculo">Novo</button>
             
            </div>
           
        </div>
        
        <table class="table"> 
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano do Carro</th>
                    <th scope="col">Tipo de Motor</th>
                    <th scope="col">Tipo de combustivel</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Graziele</td>
                    <td>Graziele</td>
                    <td>Ford</td>
                    <td>2015</td>
                    <td>AP</td>
                    <td>ALCOOL</td>
                    <td>LDHCD878</td>
                    <td><button type="button" class="btn btn-success">Visualizar</button>
                        <button type="button" class="btn btn-edit btn-warning">Editar</button>
                        <button type="button" class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
               
            </tbody>
        </table>
        <div class="modal " id="modal-dados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-black">Título do modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Salvar mudanças</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &copy; 2019 - Control Mechanic
            </div>
        </div>
        <script src="veiculo/controller/listaveiculo.js"></script>