<div class="row">
  <div class="col-3"></div>
  <div class="col-6">

<h1 class="o">Cadastro de Serviço</h1>
    <form id="addServico">
        <div class="form-group">
          <div class="row">
          <label for="exampleInputEmail1">Descrição:</label>
          <input type="text" class="form-control" name="desc" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Descrição">
          </div>
        <div class="row">
          <label for="exampleInputPassword1">Valor:</label>
          <input type="tex" class="form-control" name="valor" id="exampleInputPassword1" placeholder="Valor">
        </div>
        </div>

        <div class="row">
          <div class="col-6 col-md-2">
            <button class="btn btn-add btn-primary btn-lg salvar-serv">Salvar</button>
          </div>
          <div class="col-6 col-md-2">
            <button class="btn btn-can  btn-primary btn-lg cancelservicos ">Cancelar</button>
          </div>
        </div>
     
      </form>
      </div>
<script src="servico/controller/addservico.js"></script>
<script src="js/functioncancel.js"></script>
   