
   

      <div class="row">
          <div class="col-3"></div>
        <div class="col-6">
          <h1> Cadastro de Peças </h1>
      
      <form id="addpeca">
        <div class="form-group">
        <div class="row">
          <div class="col-12 col-md-12">
            <label for="exampleInputEmail1">Nome:</label>
            <input type="text" class="form-control" name="nome" aria-describedby="emailHelp" placeholder="Nome">
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6">
            <label for="exampleInputEmail1">Valor Compra:</label>
            <input type="text" class="form-control" name="vc" aria-describedby="emailHelp" placeholder="Valor Compra">
          </div>
      
       
          <div class="col-6 col-md-6">
            <label for="exampleInputPassword1">Valor Venda:</label>
            <input type="tex" class="form-control" name="vv" placeholder="Valor Venda">
          </div>
        </div>
      </div>
   
      <div class="row">
        <div class="col-6 col-md-2">
          <button class="btn btn-add btn-warning btn-lg salvar-peca ">Salvar</button>
        </div>
        <div class="col-6 col-md-2">
          <button class="btn btn-can btn-danger btn-lg cancelpecas ">Cancelar</button>
        </div>
      </div>
    </div>
    </form>
      <script src="pecas/controller/addpeca.js"></script>
      <script src="js/functioncancel.js"></script>
   